    body{
        margin: auto;
        font-family: "Montserrat", sans-serif;
    }

    h1{
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        margin-bottom: 50px !important;
        font-weight: 600;
    }
    p{
        font-size: 20px !important;
    }
  .container{
    text-align: center;
    width: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  .nav-link{
    color: white !important;
  }
  .nav-link:hover{
    color: rgb(219, 219, 219) !important;
  }
  .container-nav{
    margin-top: 300px;
    margin-left: 200px;
  }
  .section-b{
    background-color: #6a6a6a;
  }
  .container-fluid{
    --bs-gutter-x: 50rem;

  }
  .navbar{
    --bs-navbar-nav-link-padding-x: 1.5rem;
  }
  #image-nav{
    background: linear-gradient(#6a6a6a, white);
    background-size: cover;

  }
  .bg-light{
    background-color: transparent !important;
  }
  .buttons-nav{
    height: 600px;
  }
  .button-top{
    border: 3px solid white;
    width: 200px;
    padding: 10px;
    background: none;
    font-weight: 600;
  }

  .button-top:hover {
    background: white;
  }

  .form-control{
    padding: 10px !important;
    border: 2px solid #6c6c6c !important;
    margin-bottom: 15px !important;
    border-radius: 0px !important;
  }

  .col-sm-6.footer-left {
    text-align: left !important;
  }

  .col-sm-5.col-sm-offset-1.footer-right {
    padding-top: 50px !important;
  }

  .col-sm-5.col-sm-offset-1.footer-right {
    text-align: left !important;
    padding-left: 150px !important;
  }

  .fa, .fas {
    font-weight: 900 !important;
    color: #464646 !important;
    font-size: 40px !important;
    padding: 5px !important;
  }

  .btn{
    --bs-btn-bg:#464646 !important;
    --bs-btn-color: white !important;
    --bs-btn-border-radius: 0px !important;

  }
  .btn:hover{
    color: white !important;
    background-color: gray !important;
    border-color: #777 !important;
    

  }
  .grid-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;

  }
  .grid-float{
    max-width: 500px;
    width: auto;
    padding: 10px;
    border-radius: 3px;
  }
  .grid-float:hover{
    scale: 1.02;
    transition: 0.3s all;
    filter: brightness(50%);
  }
  .img-grid {
    margin-bottom: 10px;
    border: 1px solid gray;
    height: auto;
  }
  .content-left{
    max-width: 500px;
    width: auto;
    margin-right: 5px;
  }
  .content-right{
    max-width: 500px;
    width: auto;
    margin-left: 5px;
  }
  .content-why {
    display: flex;
    min-width: 650px;
    width: auto;
    color: white;
  }

  .icon-why {
    padding: 0px 20px;
  }
  
  .icon-why i {
    background: white !important;
    border-radius: 5px !important;
  }

  .text-why {
    text-align: left;
  }

  .text-why p {
    font-size: 15px !important;
    text-align: justify !important;
  }

  .text-why h3 {
    font-size: 1.5rem !important;
  }