  html{
      background-color: black;
    }
  body{
        font-family: "Montserrat", sans-serif;
        margin: 0;
        padding: 0;
    }

  h1{
        font-family: "Montserrat", sans-serif;
        font-size: 4rem;
        margin-bottom: 50px !important;
        font-weight: 600;
    }
  i{
      font-size:4.2rem;  
      font-family: lora-italic, serif;
    }
  p{
        font-size: 20px !important;
    }
    .bg-transparent {
      filter: invert(1);
    }
  .navbar .container-fluid {
      width: 90%;
    }
  .container{
    text-align: center;
    width: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  .nav-link{
    color: rgb(0, 0, 0) !important;
    font-weight: 550;
  }
  .nav-link:hover{
    color: rgb(49, 49, 49) !important;
  }
  .container-nav{
    margin-top: 300px;
    margin-left: 200px;
    margin-right: 200px;
  }
  .section-b{
    background-color: #6a6a6a;
  }
  .container-fluid{
    --bs-gutter-x: 10rem;

  }
  .navbar{
    --bs-navbar-nav-link-padding-x: 1.5rem;
  }
  #image-nav{
    background: url("background.png");
    background-size: cover;

  }
  .bg-light{
    background-color: transparent !important;
  }
  .buttons-nav{
    min-height: 600px;
    height: auto;
  }
  .button-top{
    border: 3px solid rgb(0, 0, 0);
    width: 200px;
    padding: 10px;
    background: none;
    font-weight: 600;
  }

  .button-top:hover {
    background: white;
  }

  .form-control{
    padding: 10px !important;
    border: 2px solid #6c6c6c !important;
    margin-bottom: 15px !important;
    border-radius: 0px !important;
  }

  .col-sm-6.footer-left {
    text-align: left !important;
  }

  .col-sm-5.col-sm-offset-1.footer-right {
    padding-top: 50px !important;
  }

  .col-sm-5.col-sm-offset-1.footer-right {
    text-align: left !important;
    padding-left: 150px !important;
  }

  .fa, .fas {
    font-weight: 900 !important;
    color: #464646 !important;
    font-size: 40px !important;
    padding: 5px !important;
  }
  .text-img{
    position: absolute;
    color: white;
    display: block;
    top: 50%;
    left: 50%;
    text-decoration: none;
    visibility: hidden;
    transform: translate(-50%, -50%);
    cursor: context-menu;
  }
  .btn{
    --bs-btn-bg:#464646 !important;
    --bs-btn-color: white !important;
    --bs-btn-border-radius: 0px !important;

  }
  .btn:hover{
    color: white !important;
    background-color: gray !important;
    border-color: #777 !important;
  }
  .grid-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    padding-left: 120px;
    padding-right: 120px;
  }
  .numbers{
    text-align: center;
    width: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    color: white;
  }
  .numbers h2 {
    font-size: 5rem;
    font-weight: 600;
  }
  .numbers p {
    font-weight: 500;
  }
  .number-row{
    padding: 50px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  .grid-float{
    max-width: 500px;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    
  }
  .grid-float:hover{
    scale: 1.02;
    transition: 0.3s all;
    filter: brightness(50%); 
  }
  .news{
    position: relative;
    top: 90%;
    z-index: 999;
    color: white;
    background: gray;
    padding: 5px;
    border-radius: 5px;"
  }
  .img-grid {
    margin-bottom: 10px;
    border: 1px solid gray;
    height: auto;
  }
  .content-left{
    max-width: 500px;
    width: auto;
    margin-right: 5px;
  }
  .content-right{
    max-width: 500px;
    width: auto;
    margin-left: 5px;
  }
  .content-why {
    display: flex;
    min-width: auto;
    width: 100%;
    color: rgb(0, 0, 0);
    
  }

  .icon-why {
    padding: 0px 20px;
  }
  
  .icon-why i {
    background: white !important;
    border-radius: 5px !important;
  }

  .text-why {
    text-align: left;
  }

  .text-why p {
    font-size: 15px !important;
    text-align: justify !important;
  }

  .text-why h3 {
    font-size: 1.5rem !important;
  }
  .modal-dialog {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    max-height: 900px;
  }
  .footer-info{
    display: flex;
    max-width: 100%;

  }
  .footer-description{
    width: 800px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: inherit;
    padding: 50px; 
    width: auto;
  }
  .footer-contact{
    text-align: left;
    background: #575757;
    color: white;
    padding: 50px;

  }
  .modal-content {
    border-radius: 0px !important;
  }
  .final {
    display: flex;
    padding: 50px;
    text-align: left;
    max-width: 100%;
    color: white;
  }
  #final{
    background-color: black;
  }
  .final p {
    color: gray;
    font-size: 15px !important;
  }
  @media (max-width: 536px) {
    html{
      overflow-x: hidden;
    }
    .grid-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding: 0;
    }
    .button-top{
      margin-bottom: 20px;
    }
    .content-why {
      display: flex;
      min-width: auto;
      width: 100%;
      color: rgb(0, 0, 0);
      flex-wrap: wrap;
    }
    .footer-info{
      display: flex;
      max-width: 100%;
      flex-direction: column;
      align-items: center;
  
    }
    .buttons-nav {
      margin: auto;
      width: auto;
      padding: 50px;
    }
    .container-nav{
      margin: auto;
      display: flex;
      flex-direction: column;
    }
    .grid-float{
      max-width: 400px;
    }
    .container h1 {
      font-size: 2rem;
    }
    h1{
      font-size: 2rem;
    }
    i{
      font-size:2rem;  
    }
    .final {
      flex-direction: column;
    }
    .numbers{
      display: grid;
    }
    
  }
    @media (max-width: 768px) {
      html{
        overflow-x: hidden;
      }
      .grid-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0;
      }
      .button-top{
        margin-bottom: 20px;
      }
      .content-why {
        display: flex;
        min-width: auto;
        width: 100%;
        color: rgb(0, 0, 0);
        flex-wrap: wrap;
      }
      .footer-info{
        display: flex;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    
      }
      .buttons-nav {
        margin: auto;
        width: auto;
        padding: 50px;
      }
      .container-nav{
        margin: auto;
        display: flex;
        flex-direction: column;
      }
      .grid-float{
        max-width: 400px;
      }

      .container h1 {
        font-size: 2rem;
    }
      h1{
      font-size: 2rem;
    }
      i{
      font-size:2rem;  
    }
      .final {
      flex-direction: column;
    }
    .numbers{
      display: grid;
    }
  }
